{% extends 'layout.html.twig' %}
{% block content  -%}
<div class="container-fluid">
 
        {% for article in articles %}
      <div class="row" style="margin:20px;">
            <div class="col-sm-2 col-md-2">
               <img class="img-responsive" src="{{ article.image }}" alt="picture" title="{{ article.title }}">
            </div>
            <div>
                <blockquote>
                    <p>{{article.user}}</p> <small><cite title="Source Title">{{ article.title }} </cite></small>
                    <p>{{article.content}}</p>
                </blockquote>
                <p> <i class="glyphicon glyphicon-pushpin"></i> {{ article.category }}
                    <br
                    /> <i class="glyphicon glyphicon-dashboard"></i> Créé le: {{ article.createdAt|date('d-m-Y') }}
                    </p>
            </div>
  </div>
        {% endfor %}
  
</div>
{% endblock %}